@import "_variables.scss";


// =================================================================================================
//                                         VARIABLES
// =================================================================================================

$brand-brillant: rgb(255, 255, 0);
$brand-deprecated: rgb(165, 154, 103);
$brand-stream: rgb(147, 122, 178);

$alk-red: rgb(227, 37, 34);
$alk-green: rgb(94, 172, 37);
$alk-darkgreen: rgb(0, 102, 74);
$alk-blue: rgb(2, 102, 161);
$alk-yellow: rgb(255, 214, 0);
$alk-orange: rgb(235, 113, 29);
$alk-pink: rgb(222, 0, 101);
$alk-purple: rgb(114, 27, 96);

$alk-orange-lighter: rgba(245,182,38,1);
$alk-orange-darker: rgba(239,142,28,1);
$alk-green-lighter: rgba(127,201,49,1);
$alk-yellow-lighter: rgba(246,220,0,1);
$alk-yellow-darker: rgba(241,201,0,1);


// =================================================================================================
//                                          BASE COLORS
// =================================================================================================

.color-red{
    color: $alk-red;
}
.color-red-inverse{
    background-color: $alk-red;
    color:white;
}

.color-green{
    color: $alk-green;
}
.color-green-inverse{
    background-color: $alk-green;
    color:white;
}

.color-darkgreen{
    background-color: $alk-darkgreen;
    color:white;
}
.color-darkgreen-inverse{
    background-color: $alk-darkgreen;
    color:white;
}

.color-blue{
    background-color: $alk-blue;
    color:white;
}
.color-blue-inverse{
    background-color: $alk-blue;
    color:white;
}

.color-yellow{
    background-color: $alk-yellow;
    color:white;
}
.color-yellow-inverse{
    background-color: $alk-yellow;
    color:white;
}

.color-orange{
    background-color: $alk-orange;
    color:white;
}
.color-orange-inverse{
    background-color: $alk-orange;
    color:white;
}

.color-pink{
    background-color: $alk-pink;
    color:white;
}
.color-pink-inverse{
    background-color: $alk-pink;
    color:white;
}


.color-purple{
    background-color: $alk-purple;
    color:white;
}
.color-purple-inverse{
    background-color: $alk-purple;
    color:white;
}


// =================================================================================================
//                                          SERVICE COLORS
// =================================================================================================

.color-analytics {
    background-color: white;
    color: $alk-purple;
}
.color-analytics-transparent {
    color: $alk-purple;
}
.color-analytics-inverse {
    background-color: $alk-purple;
    color: white;
}

.color-advertising {
    background-color: white;
    color: $alk-orange;
}
.color-advertising-transparent {
    color: $alk-orange;
}
.color-advertising-inverse {
    background-color: $alk-orange;
    color: white;
}
.color-advertising-light-inverse {
    background-color: $alk-orange-lighter;
    color: white;
}

.color-stream {
    background-color: white;
    color: $alk-green;
}
.color-stream-transparent {
    color: $alk-green;
}
.color-stream-inverse {
    background-color: $alk-green;
    color: white;
}

.color-api {
    background-color: white;
    color: $alk-yellow;
}
.color-api-transparent {
    color: $alk-yellow;
}
.color-api-inverse{
    background-color: $alk-yellow;
    color: white;
}

.color-company {
    color: rgb(100, 100, 100);
}




// =================================================================================================
//                                          SEMANTIC COLORS
// =================================================================================================

.color-plugin {
    background-color: $alk-yellow;
    color:white;
}
.color-brand {
    background-color: $alk-blue;
    color:white;
}
.color-product {
    background-color: $alk-blue;
    color:white;
}
.color-placement,
.color-action {
    background-color: $alk-orange;
    color:white;
}
.color-organization,
.color-member {
    background-color: $alk-red;
    color:white;
}
.color-semantic {
    background-color: $alk-yellow;
    color:black;
}
.color-page {
    background-color: $alk-orange;
    color:white;
}
.color-website {
    background-color: $alk-orange;
    color:white;
}
.color-calendar {
    background-color: $brand-deprecated;
    color:white;
}
.color-disabled {
    background-color: $gray-lighter;
    color:white;
}
.color-shop,
.color-store {
    background-color: $brand-stream;
    color:white;
}

.color-brand-inversed {
    color: $alk-blue;
}
.color-product-inversed {
    color: $alk-blue;
}
.color-placement-inversed,
.color-action-inversed {
    color: $brand-success;
    background-color:white;
}
.color-organization-inversed,
.color-member-inversed {
    color: $alk-red;
}
.color-semantic-inversed {
    color: $alk-orange;
}
.color-page-inversed {
    color: $alk-orange;
}
.color-website-inversed {
    color: $alk-orange;
}
.color-calendar-inversed {
    color: $brand-deprecated;
}
.color-disabled-inversed {
    color: $gray-lighter;
}
.color-shop-inversed,
.color-store-inversed,
.color-stream-inversed {
    color: $brand-stream;
}