@import "colors.scss";

.brand {
    padding: 50px;
}
.logo {
    margin : 20px;
}
.motto {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 6px;
}

.jumbotron {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3) inset;
    padding:0px;
}

.summary {
    .container-stripes {
        margin-right: 60px;
        padding-left: 60px;
    }
    .container-content {
        padding-right: 60px;
        margin-top: 100px;
        font-size: 14px;
        h2 em{
            color: $alk-orange;
            font-style: inherit;
            text-decoration: inherit;
        }
        .more {
            font-size: 30px;
            color: $alk-orange;
            a {
                color: $alk-orange;
                text-decoration: none;
            }
            a:hover {
                color: black;
                text-decoration: none;
            }
        }
    }
}



h2 {
    text-transform: uppercase;
}
h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}




.service-title {
    padding: 60px 0px 20px 0px;
    h2 {
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
}
.service-preview{
    text-align: center;
    padding: 50px 0px 40px 0px;
    h3 {
        padding: 5px 0px 10px 0px;
    }
    a {
        color: inherit;
        font-size: 20px;
        color: black;
    }
    p {
        color: white;
        font-weight: 400;
        padding: 0px;
    }
    .service-icon {
        color: white;
        height: 70px;
        font-size: 50px;
        line-height: 70px;
        vertical-align: middle;
        text-align: center;
    }
    .service-description {
        padding: 0px 40px;
        height: 140px;
    }
}


@mixin jumbotron-gradient($dark, $light) {
    background: $dark;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, right top, from($light), to($light), color-stop(0.2, $dark), color-stop(0.8, $dark) );
    background: -webkit-linear-gradient(left, $light, $dark 20%, $dark 80%, $light );
    background: -moz-linear-gradient(left, $light, $dark 20%, $dark 80%, $light );
    background: -o-linear-gradient(left, $light, $dark 20%, $dark 80%, $light );
    background: linear-gradient(left, $light, $dark 20%, $dark 80%, $light );
}

$alk-orange-lighter: rgba(245,182,38,1);
$alk-orange-darker: rgba(239,142,28,1);
.advertising {
    @include jumbotron-gradient($alk-orange-darker, $alk-orange-lighter);
}

$alk-green-lighter: rgba(127,201,49,1);
.stream {
    @include jumbotron-gradient($alk-green, $alk-green-lighter);
}

$alk-yellow-lighter: rgba(246,220,0,1);
$alk-yellow-darker: rgba(241,201,0,1);
.api {
    @include jumbotron-gradient($alk-yellow-darker, $alk-yellow-lighter);
}