$fa-font-path: "/bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

@import "colors.scss";
@import "_variables.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
@import "navbar.scss";
@import "home.scss";
@import "sidebar.scss";
@import "footer.scss";
@import "cgu.scss";
@import "upload.scss";
@import "sdk-dashboard/src/autocomplete.scss";

@import "user/login/login.scss";
@import "portlet.scss";
@import "tile.scss";
@import "metric.scss";
@import "placeholder.scss";
@import "browsehappy.scss";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
body {
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 0px;
}

#stream h1 {
    color: $alk-green;
}

.form-horizontal .control-label.text-left {
	text-align: left;
}



.true-link {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}
.pointer-link {
    cursor: pointer;
}

.inline-logo {
    height: 1em;
    display: inline-block;
    vertical-align: baseline;
}