#corporate .navbar .navbar-nav {
  display: inline-block;
  float: none;
}

#corporate .navbar .navbar-collapse {
  text-align: center;
  height: 50px !important;
}

.nav {
    text-transform: uppercase;
}

