.ratio{
    position:relative;
    width: 100%;
    height: 0;
    padding-bottom: 100% ; /* % of width, defines aspect ratio*/

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    border: 1px solid #eeeeee;
}

.product {
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    .name {
        height: 3em;
        overflow: hidden;
        text-align: center;
    }
    .packaging {
        height: 1.5em;
        overflow: hidden;
        text-align: center;
    }
    .picture {
        margin-top: 10px;
        background-color: white;
    }
    .progress {
        height: 20px;
    }
    &.new {
        color: gray;
        cursor: pointer;
        a {
            color: inherit;
        }
        .picture{
            text-align: center;
            font-size: 80px;
        }
    }
}

.actions {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 16.66667%;
    padding: 10px;
}

.tab-content {
    padding-top: 20px;
}