@import "colors.scss";

.tile-container {
    margin-bottom: 15px;
    padding: 15px;
    overflow: hidden;
    color: #fff;
    cursor: pointer;
}

.tile-container h1,
.tile-container h2,
.tile-container h3,
.tile-container h4,
.tile-container h5,
.tile-container h6 {
    margin: 0;
}

.tile-container h1 a,
.tile-container h2 a,
.tile-container h3 a,
.tile-container h4 a,
.tile-container h5 a,
.tile-container h6 a {
    color: #fff;
}

.tile-green-inverse {
    background-color: $alk-green;
    color: white;
}

.tile-orange-inverse {
    background-color: $alk-orange;
    color: white;
}

.tile-green {
    border-color: $alk-green;
    color: $alk-green;
}

.tile-orange {
    border-color: $alk-orange;
    color: $alk-orange;
}


.icon-tile {
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
}

.icon-tile-heading {
    height: 50px;
    font-size: 40px;
    margin: 0px;
    color: #fff;
}

.icon-tile-heading .fa {
    line-height: 80px;
}

.icon-tile-content {
    height: 50px;
    padding: 0px 10px;
}

.icon-tile-number {
    padding: 5px 0 15px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.icon-tile-description {
    text-transform: uppercase;
}

.icon-tile-footer {
    display: block;
    padding: 5px;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.1);
}

.icon-tile-footer:hover {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.2);
}

.icon-tile-heading.dark-blue:hover {
    background-color: #2e4154;
}

.icon-tile-heading.green:hover {
    background-color: #138f77;
}

.icon-tile-heading.orange:hover {
    background-color: #da8c10;
}

.icon-tile-heading.blue:hover {
    background-color: #2473a6;
}

.icon-tile-heading.red:hover {
    background-color: #cf4435;
}

.icon-tile-heading.purple:hover {
    background-color: #7f3d9b;
}