.upload{

    color: #999;
    line-height: 200px;
    text-align: center;

    .drop-target{
        border: 2px dashed #999;
        font-size: 14px;
        height: 200px;
        cursor: pointer;
        margin: 5px auto;
    }

    .drop-target.dragover{
        background: rgba(255, 255, 255, 0.4);
        border-color: green;
    }

    .btn-default {
        color: #999;
    }
}