<div class="container text-center brand">
    <div class="logo">
        <img src="/images/logo.png" width="400px"/>
    </div>
    <p class="motto">
        Value in relations
    </p>
</div>


<div class="jumbotron summary">
    <div class="container">
        <div class="pull-left container-stripes">
            <img src="/images/home/stripes.png" height="325px"/>
        </div>
        <div class="container-content">
            <h2>Une solution bâtie pour <em>vos besoins</em></h2>
            <p>
                Alkemics adapte les outils technologiques les plus modernes aux métiers de la grande consommation.
            </p>
            <p>
                Big Data, Ad-Exchanges, personnalisation : il est temps de passer à une solution construite à partir de vos besoins.
            </p>
            <p class="more">
                <a ng-click="subscribe('Je veux en savoir plus sur...')" role="button">
                    <i class="fa fa-plus-circle"></i> Go !
                </a>
            </p>
        </div>
    </div>
</div>

<div class="container service-title">
    <h2 class="color-stream-transparent">Data</h2>
</div>
<div class="jumbotron stream">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="service-preview">
                    <div class="service-icon">
                        <img src="/images/home/services/productstream.png" height="70px">
                    </div>
                    <h3>Product stream</h3>
                    <p class="service-description">
                        Simplifiez la mise à jour des données produits.
                        <br/> </br>
                        Accédez à une plateforme permettant de normaliser et centraliser vos données produit, en assurant sa qualité, sa fraicheur et sa véracité.
                        <br/> </br>
                        Diffusez-les directement au sein de notre réseau d'enseignes partenaires.
                    </p>
                    <p><a href="https://stream.alkemics.com/" role="button"><i class="fa fa-plus-circle"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container service-title">
    <h2 class="color-advertising-transparent">Advertising</h2>
</div>
<div class="jumbotron advertising">
    <div class="container">
        <div class="row service-list">
            <div class="col-md-4">
                <div class="service-preview">
                    <div class="service-icon">
                        <img src="/images/home/services/productlink.png" height="70px">
                    </div>
                    <h3>Product link</h3>
                    <p class="service-description">
                        Intégrez un bouton d'achat sur vos sites, pour permettre aux visiteurs qui s’intéressent à vos produits de transformer leur intention en achat.
                        <br/><br/>
                        Un simple clic, et le produit est mis au panier.
                    </p>
                    <p><a ng-click="subscribe()" href="/#/" role="button"><i class="fa fa-plus-circle"></i></a></p>
                </div>
            </div>
            <!--
            <div class="col-md-3">
                <div class="service-preview">
                    <div class="service-icon" style="padding-top: 10px;">
                        <img src="/images/home/services/coupon.png" height="50px">
                    </div>
                    <h3>Virtual coupon</h3>
                    <p class="service-description">
                        Grâce à High-co bénéficiez de la technologie Virtual-coupon.
                        <br/><br/>
                        Offrez leur une réduction immédiate sans manipulation supplémentaire.
                        <br/><br/>
                        Un simple clic, le produit est en panier et la réduction décomptée!
                    </p>
                    <p><a ng-click="subscribe()" href="/#/" role="button"><i class="fa fa-plus-circle"></i></a></p>
                </div>
            </div>
            -->
            <div class="col-md-4">
                <div class="service-preview">
                    <div class="service-icon">
                        <img src="/images/home/services/shoppinglist.png" height="70px">
                    </div>
                    <h3>Shopping list</h3>
                    <p class="service-description">
                        Rendez votre contenu culinaire interactif !
                        <br/><br/>
                        Permettez à vos internautes de commander directement les ingrédients nécessaires à la réalisation d’une recette.
                    </p>
                    <p><a ng-click="subscribe()" href="/#/" role="button"><i class="fa fa-plus-circle"></i></a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-preview">
                    <div class="service-icon">
                        <img src="/images/home/services/inbanner.png" height="70px">
                    </div>
                    <h3>In-banner</h3>
                    <p class="service-description">
                        Profitez de votre surface publicitaire pour recrééer l'achat d'impulsion.
                        <br/><br/>
                        Chaque internaute peut ajouter vos produits directement depuis vos bannières, en un clic, dans son magasin habituel.
                    </p>
                    <p><a ng-click="subscribe()" href="/#/" role="button"><i class="fa fa-plus-circle"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container service-title">
    <h2 class="color-api-transparent">Web services</h2>
</div>
<div class="jumbotron api">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="service-preview">
                    <div class="service-icon">
                        <i class="fa fa-search"></i>
                    </div>
                    <h3>Search</h3>
                    <p class="service-description">
                        Notre moteur répond de manière pertinente à des requêtes comme "rillettes de poisson", "pomme rouge", "filet de poisson".
                        <br/><br/>
                        Intégrable directement dans le front, le moteur embarque merchandising, personnalisation, auto-complétion...
                    </p>
                    <p><a href="/#/service/webservices/search" role="button"><i class="fa fa-plus-circle"></i></a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-preview">
                    <div class="service-icon">
                        <i class="fa fa-sitemap"></i>
                    </div>
                    <h3>Substitution</h3>
                    <p class="service-description">
                        Oubliez les problèmes de rupture de stock, ou de panier rupté :
                        <br/><br/>
                        Notre système de substitution propose un produit de remplacement de marque, packaging, contenance et qualité similaires.
                    </p>
                    <p><a href="/#/service/webservices/substitution" role="button"><i class="fa fa-plus-circle"></i></a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-preview">
                    <div class="service-icon">
                        <i class="fa fa-barcode"></i>
                    </div>
                    <h3>Barcode scan</h3>
                    <p class="service-description">
                        Trouvez le produit disponible dans votre stock le plus proche d'un code-barre donné.
                        <br/><br/>
                        Intégrez cette fonctionalité au sein de vos objets connectés et applications mobiles.
                    </p>
                    <p><a href="/#/service/webservices/scan" role="button"><i class="fa fa-plus-circle"></i></a></p>
                </div>
            </div>
            <!--
            <div class="col-md-3">
                <div class="service-preview">
                    <div class="service-icon">
                        <i class="fa fa-bullseye"></i>
                    </div>
                    <h3>Recommendation</h3>
                    <p class="service-description">
                        Sélectionnez les promotions les plus pertinentes pour chaque utilisateur à partir de son historique d'achat.
                        <br/><br/>
                        Moins de publicité, davantage de coupons utiles, c'est un client plus satisfait.
                    </p>
                    <p><a href="/#/service/webservices/recommendation" role="button"><i class="fa fa-plus-circle"></i></a></p>
                </div>
            </div>
            -->
        </div>
    </div>
</div>


