<div class="container-fluid message-band color-stream-inverse alert-dismissible" role="alert" ng-click="goto('https://stream.alkemics.com/')">
    <i class="fa fa-info-circle"></i>
    Industriels, le référencement de vos produits pour les rendre compatibles Scan One, Buy One est gratuit ! <a class="alert-link" href="https://stream.alkemics.com/">Plus de renseignements ici</a>.
</div>


<div class="container feature">
    <div class="row">
        <div class="col-sm-8 text-justify">
            <h2 class="color-api-transparent text-right">Base de données élargie</h2>
            <p>
                Intégrées par des distributeurs ou des industriels, les systèmes de scan sont limitées par le défaut d'exhaustivité de leurs bases de données respectives : par exemple un distributeur ne dispose que de la base des code-barres des produits qu'il a un jour distribués.
            </p>
            <p>
                À travers <a href="https://stream.alkemics.com/#/">Alkemics Stream</a>, nos partenaires industriels peuvent contribuer les données de leurs produits quel que soit leur canal de distribution : à ce titre, l'intégralité de leurs produits peuvent être reconnus à travers nos WebServices.
            </p>
        </div>
        <div class="col-sm-4">
            <div class="noscreen-small noscreen-small-stream-poweredby text-right">
            </div>
        </div>
    </div>
</div>


<div class="container feature">
    <div class="row">
        <div class="col-sm-4">
            <div class="screen-small screen-small-application-retailer text-left">
                <div class="screen-manifying text-right screen-manifying-webservice-scan">
                </div>
            </div>
        </div>
        <div class="col-sm-8 text-justify">
            <h2 class="color-api-transparent">Substitution automatique</h2>
            <p>
                Nombreux sont les risques d'indisponibilité d'un produit : soit parce qu'il n'a jamais été commercialisé par le distributeur, parce qu'il est en ruptures de stock, parce que le produit n'est plus commercialisé...
            </p>
            <p>
                Dans tous ces cas, notre Web Service de <a href="/#/service/webservices/substitution">Substitution</a> entre en jeu permet de suggérer des produits similaires de par ses caractéristiques : marque, packaging, prix...
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center">
        <a class="btn color-api-inverse btn-xl" ng-click="subscribe('Je souhaite davantage d\'informations sur le scan.')">
            <i class="fa fa-arrow-right"></i>
            En savoir plus
        </a>
    </div>
</div>

